{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %} 

<!-- Delivery-content from sample given by Guido from another student changed to suit this project -->

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div id="return-content" class="col-12 pt-3">
            <h1>Delivery Policy</h1>
            <hr>
            <p class ="py-4"> 
                Although Fitness 2020 are able to ship almost every order in the timeframe specified, in rare circumstances our
                shipping capacity can be exceeded, causing a delay of one extra day. Should this occur, your order will be marked
                for urgent delivery on the following day and we will reimburse you for the cost of postage.
                
                The delivery timescales presented here do not apply to orders which require additional security checks. If a security
                check is required, it will usually follow that we will need you to provide additional information; despatch will not
                occur until this information is received.

                Fitness 2020 is unable to provide compensation for late deliveries. Compensation will not be provided for consequential 
                losses (e.g., time taken off work or if the item is a gift and you purchase the same item from a more expensive retailer).

                If, for any reason, your order is returned to us (e.g., incorrect address), then Fitness 2020 will inform you immediately
                via email when the item is received. You will be given a choice as to whether the item is sent out again, or a refund is
                processed. Please note, for items that are undelivered through fault of the customer (e.g., incorrect address), 
                Fitness 2020 reserve the right to deduct our outwardly shipping fees from the refund total.
            </p>
             <h4 class="pb-3">Shipping Charges</h4>
             <h6 class="pb-3">Ireland</h6>
             <p>FREE delivery for all orders over 50 euros.</p>
             <p>Sent by registered post via An Post.</p>  
             <p>Signature required upon delivery.</p>
             <p>Delivery less than 2 days after your item is shipped.</p>
        </div>
    </div>
    <div class="col-12 p-3">
    <a href="{% url 'products' %}" class="view-now-button btn btn-lrg rounded-0 text-uppercase py-3">
    View Products Now</a>
    </div>
    <div class="col-12 p-3">
        <a href="{% url 'subscriptions' %}" class="view-now-button btn btn-lrg rounded-0 text-uppercase py-3">
        View Subcriptions Now</a>
    </div>
</div>

{% endblock %}